.employees_container {
  display: flex;
  padding: 10px;
}

.employees_list {
  width: 60%;
}

.birthday_list {
  width: 40%;
}

.header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.employees_block {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  border-right: solid 2px;
}

.letter_container {
  width: 185px;
  margin: 10px;
}

.letter_block_withScroll {
  height: 450px;
  overflow-y: scroll;
}

.letter {
  margin-left: 10px;
  font-weight: bold;
}

.employee {
  margin: 5px;
}
.fullName_active {
  margin: 5px;
  font-weight: bold;
  color: blue;
}

.fullName_not-active {
  margin: 5px;
  font-weight: bold;
  color: black;
}

.radio_label {
  margin-left: 3px;
}

.months_of_birth {
  margin-left: 50px;
  padding-top: 20px;
  border-top: solid 2px;
}

.month {
  font-weight: bold;
}

.month_name {
  margin-bottom: 5px;
  border-top: ridge 2px;
}

.month_block {
  font-weight: bold;
  display: flex;
}

.month_empty_block {
  font-weight: 400;
}

.month-circle {
  margin: 7px 6px 0 0;
  background-color: black;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}
